<div class="flex justify-between">
  <!-- Left Image Section -->
  <div
    class="w-[760px] h-[994px] overflow-hidden mt-[2.5rem] ml-[2.5rem] rounded-xl relative"
  >
    <img
      src="images/sign-in.svg"
      alt="Sign In"
      class="w-full h-full object-cover"
    />
  </div>

  <!-- Right Form Section -->
  <div class="h-[944px] w-[480px] mt-10 flex justify-center relative">
    <img
      class="w-[8.65rem] h-[2.5rem] absolute top-4 left-4"
      src="images/g-logo.png"
      alt="g-logo"
    />

    <div class="flex justify-center flex-col">
      <h2
        class="flex justify-start text-2xl text-gray-800 text-[36px] leading-[38px] font-bold mb-8"
      >
        sign In
      </h2>
      <p class="flex justify-start w-[400px] text-gray-400 mb-8 font-thin">
        Enter your credentias to access your account
      </p>
      <form
        action=""
        class="flex flex-col space-y-4"
        #course="ngForm"
        (ngSubmit)="onSubmit(course)"
      >
        <!-- Email Field -->
        <label for="email" class="text-sm font-medium text-gray-700"
          >Email</label
        >
        <input
          type="email"
          id="email"
          name="email"
          #email="ngModel"
          [(ngModel)]="model.email"
          class="border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-1 focus:ring-[#D10D74] focus:border-[#D10D74]"
          placeholder="Enter your email"
          required
        />

        @if (email.invalid && email.touched) {
        <div class="text-red-600 text-sm">Email is required.</div>
        }

        <!-- Password Field -->
        <label for="password" class="text-sm font-medium text-gray-700"
          >Password:</label
        >
        <input
          type="password"
          id="password"
          name="password"
          #password="ngModel"
          [(ngModel)]="model.password"
          class="border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-1 focus:ring-[#D10d74] focus:border-[#d10D74]"
          placeholder="Enter your password"
          required
        />

        @if (password.invalid && password.touched) {
        <div class="text-red-600 text-sm">Password is required.</div>
        }
        <div class="flex items-center space-x-2">
          <input
            type="checkbox"
            id="rememberMe"
            name="rememberMe"
            class="h-4 w-4"
          />
          <label for="rememberMe" class="text-sm font-medium text-gray-700"
            >Remember Me</label
          >
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          class="w-[416px] h-11 bg-[#D10D74] text-white rounded-md hover:bg-[#9c0c59] transition duration-200"
        >
          Sign In
        </button>
       
        <span class="flex justify-center text-[#D10D74]"
          ><a  routerLink="/user-list" >Forgot Password?</a></span
        >
      </form>
    </div>
  </div>
</div>
