<div
  class="flex items-center justify-between p-2.5 px-5 bg-white shadow-sm mr-6 gap-10"
>
  <h1 class="flex-1 text-left text-2xl font-bold text-gray-800">
    {{ title }}
  </h1>
  <div class="flex items-center gap-4">
    <button class="icon-button">
      <img src="icon/form-search-icon.png" alt="search-icon" class="h-6 w-6" />
    </button>
    <button class="icon-button">
      <img src="icon/bell-icon.png" alt="bell-icon" class="h-6 w-6" />
    </button>
    <img src="icon/Devider.png" alt="divider-icon" class="h-[1 px] w-[1 px]" />
    <button (click)="profileNave()">
      <img
        src="images/user-avatar.png"
        alt="User Profile"
        class="w-9 h-9 rounded-full cursor-pointer"
      />
    </button>
    <p class="font-semibold w-16 h-5">Samsad</p>
  </div>
</div>
