<div class="max-w-5xl mx-auto p-6 bg-gray-100">
  <h1 class="text-2xl font-bold mb-6 text-left">Organization Details</h1>

  <!-- User Info Section -->
  <div class="bg-white p-6 rounded-lg mb-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      <div class="bg-gray-100 p-4 rounded-lg">
        <label class="text-sm text-gray-500 mb-1 block">Organization</label>
        <p class="text-base font-semibold text-gray-800">
          {{ organization.name }}
        </p>
      </div>
      <div class="bg-gray-100 p-4 rounded-lg">
        <label class="text-sm text-gray-500 mb-1 block">User Role</label>
        <p class="text-base font-semibold text-gray-800">
          {{ organization.role }}
        </p>
      </div>
      <div class="bg-gray-100 p-4 rounded-lg">
        <label class="text-sm text-gray-500 mb-1 block">Designation</label>
        <p class="text-base font-semibold text-gray-800">
          {{ organization.designation }}
        </p>
      </div>
      <div class="bg-gray-100 p-4 rounded-lg">
        <label class="text-sm text-gray-500 mb-1 block">User Name</label>
        <p class="text-base font-semibold text-gray-800">
          {{ organization.head }}
        </p>
      </div>
      <div class="bg-gray-100 p-4 rounded-lg">
        <label class="text-sm text-gray-500 mb-1 block">Email</label>
        <p class="text-base font-semibold text-gray-800">
          {{ organization.email }}
        </p>
      </div>
      <div class="bg-gray-100 p-4 rounded-lg">
        <label class="text-sm text-gray-500 mb-1 block">Phone No.</label>
        <p class="text-base font-semibold text-gray-800">
          {{ organization.phone }}
        </p>
      </div>
    </div>
  </div>

  <!-- Footer Buttons -->
  <div class="flex justify-between items-center">
    <button
      class="flex items-center gap-2 bg-pink-100 text-pink-600 rounded-lg px-3 py-3 text-base cursor-pointer"
    >
      <i class="fa fa-clock"></i> Log
    </button>
    <div class="flex gap-4">
      <button
        class="px-5 py-3 bg-gray-100 text-gray-600 rounded-md font-bold cursor-pointer"
        (click)="goBackToList()"
      >
        Cancel
      </button>
      <button
        class="px-6 pt-[16px] pb-[16px] bg-pink-600 text-white rounded-md font-semibold text-sm cursor-pointer"
      >
        Edit
      </button>
    </div>
  </div>
</div>
