<div
  class="w-[250px] h-screen bg-white border pt-[20px] flex flex-col items-center fixed"
>
  <img src="images/g-logo.png" alt="Logo" class="w-[100px] mb-[20px]" />
  <nav class="flex flex-col w-full pl-[20px]">
    <span class="px-[30px] text-gray-500 text-[14px]"><p>Main Menu</p></span>
    <a
      routerLink="/profile"
      routerLinkActive="active"
      class="flex gap-3 items-center px-[20px] py-[10px] text-[16px] text-gray-800 no-underline hover:bg-[#fff9fb] hover:text-[#ff007b]"
    >
      <img src="icon/category.png" alt="dashboard-icon" />
      Dashboard
    </a>
    <a
      routerLink="/fivew-form"
      routerLinkActive="active"
      class="flex gap-3 items-center px-[20px] py-[10px] text-[16px] text-gray-800 no-underline hover:bg-[#fff9fb] hover:text-[#ff007b]"
    >
      <img src="icon/category.png" alt="5wform-icon" />
      5W Form Data
    </a>
    <a
      routerLink="/plan-list"
      routerLinkActive="active"
      class="flex gap-3 items-center px-[20px] py-[10px] text-[16px] text-gray-800 no-underline hover:bg-[#fff9fb] hover:text-[#ff007b]"
    >
      <img src="icon/category.png" alt="plan-icon" />
      Plan
    </a>
    <a
      routerLink="/organization"
      routerLinkActive="active"
      class="flex gap-3 items-center px-[20px] py-[10px] text-[16px] text-gray-800 no-underline hover:bg-[#fff9fb] hover:text-[#ff007b]"
    >
      <img src="icon/category.png" alt="org-icon" />
      Organization
    </a>
    <a
      routerLink="/user-list"
      routerLinkActive="active"
      class="flex gap-3 items-center px-[20px] py-[10px] text-[16px] text-gray-800 no-underline hover:bg-[#fff9fb] hover:text-[#ff007b]"
    >
      <img src="icon/category.png" alt="people-icon" />
      User Management
    </a>
  </nav>
</div>
