<!--!TailWind -->
<div class="max-w-5xl mx-auto my-5 p-5 bg-white rounded-lg shadow-md">
  <!-- General Information Section -->
  <section class="mb-8">
    <h2 class="text-lg font-semibold mb-5 flex justify-between items-center">

    </h2>

    <div class="flex flex-wrap gap-5 mb-5">
      <div class="flex-1 min-w-[300px] flex flex-col">
        <label for="submission" class="font-medium mb-1">5W Submission For *</label>
        <select id="submission" class="p-2 border border-gray-300 rounded-md text-base">
          <option>Select</option>
        </select>
      </div>

      <div class="flex-1 min-w-[300px] flex flex-col">
        <label for="partner" class="font-medium mb-1">Implementing Partner</label>
        <select id="partner" class="p-2 border border-gray-300 rounded-md text-base">
          <option>Select Partner</option>
        </select>
      </div>

      <div class="flex-1 min-w-[300px] flex flex-col">
        <label for="organization" class="font-medium mb-1">Name of Organization</label>
        <input type="text" id="organization" placeholder="Select sub sector of assistance" class="p-2 border border-gray-300 rounded-md text-base" />
      </div>
    </div>

    <div class="flex flex-wrap gap-5 mb-5">
      <div class="flex-1 min-w-[300px] flex flex-col">
        <label for="organization-type" class="font-medium mb-1">Type of Organization</label>
        <select id="organization-type" class="p-2 border border-gray-300 rounded-md text-base">
          <option>Select sector of assistance</option>
        </select>
      </div>

      <div class="flex-1 min-w-[300px] flex flex-col">
        <label for="donor" class="font-medium mb-1">Donor / Partner's Name</label>
        <select id="donor" class="p-2 border border-gray-300 rounded-md text-base">
          <option>Select donor name</option>
        </select>
      </div>

      <div class="flex-1 min-w-[300px] flex flex-col">
        <label for="donor-type" class="font-medium mb-1">Type of Donor/Partner</label>
        <select id="donor-type" class="p-2 border border-gray-300 rounded-md text-base">
          <option>Select donor name</option>
        </select>
      </div>
    </div>
  </section>


  <section>
    <div class="flex flex-wrap gap-5 mb-5">
      <div class="flex-1 min-w-[300px] flex flex-col">
        <label for="division" class="font-medium mb-1">Division</label>
        <select id="division" class="p-2 border border-gray-300 rounded-md text-base">
          <option>Select</option>
        </select>
      </div>

      <div class="flex-1 min-w-[300px] flex flex-col">
        <label for="district" class="font-medium mb-1">District</label>
        <select id="district" class="p-2 border border-gray-300 rounded-md text-base">
          <option>Select</option>
        </select>
      </div>
    </div>

    <div class="flex flex-wrap gap-5 mb-5">
      <div class="flex-1 min-w-[300px] flex flex-col">
        <label for="upazilla" class="font-medium mb-1">Upazilla</label>
        <input type="text" id="upazilla" value="50,000" class="p-2 border border-gray-300 rounded-md text-base" />
      </div>

      <div class="flex-1 min-w-[300px] flex flex-col">
        <label for="union" class="font-medium mb-1">Union/Municipality</label>
        <input type="text" id="union" value="50,000" class="p-2 border border-gray-300 rounded-md text-base" />
      </div>

      <div class="flex-1 min-w-[300px] flex flex-col">
        <label for="village" class="font-medium mb-1">Location site/Village</label>
        <input type="text" id="village" value="50,000" class="p-2 border border-gray-300 rounded-md text-base" />
      </div>
    </div>

    <div class="flex flex-wrap gap-5 mb-5">
      <div class="flex-1 min-w-[300px] flex flex-col">
        <label for="longitude" class="font-medium mb-1">Longitude</label>
        <input type="text" id="longitude" value="50,000" class="p-2 border border-gray-300 rounded-md text-base" />
      </div>

      <div class="flex-1 min-w-[300px] flex flex-col">
        <label for="latitude" class="font-medium mb-1">Latitude</label>
        <input type="text" id="latitude" value="50,000" class="p-2 border border-gray-300 rounded-md text-base" />
      </div>

      <div class="flex-1 min-w-[300px] flex flex-col">
        <label for="sector" class="font-medium mb-1">Type of Sector/Cluster</label>
        <input type="text" id="sector" value="50,000" class="p-2 border border-gray-300 rounded-md text-base" />
      </div>
    </div>

    <div class="flex flex-wrap gap-5 mb-5">
      <div class="flex-1 min-w-[300px] flex flex-col">
        <label for="assistance" class="font-medium mb-1">Sub Sector of Assistance</label>
        <input type="text" id="assistance" value="50,000" class="p-2 border border-gray-300 rounded-md text-base" />
      </div>

      <div class="flex-1 min-w-[300px] flex flex-col">
        <label for="activity" class="font-medium mb-1">Activity Details</label>
        <input type="text" id="activity" value="50,000" class="p-2 border border-gray-300 rounded-md text-base" />
      </div>

      <div class="flex-1 min-w-[300px] flex flex-col">
        <label for="achieved" class="font-medium mb-1">Quantity Achieved</label>
        <input type="text" id="achieved" value="50,000" class="p-2 border border-gray-300 rounded-md text-base" />
      </div>
    </div>

    <div class="flex justify-start mt-5">
      <button class="bg-red-500 text-white py-2 px-4 rounded-md cursor-pointer hover:bg-red-600">Remove</button>
    </div>
  </section>
</div>

